@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --navy: #071521;
  --navy-dark: #04101a;
  --white: #ffffff;
  --gold: #d5b76a;
  --gold-light: #e4ce92;
  --cream: #f8f6f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  background: var(--cream);
  color: #172432;

  font-family: "Manrope", sans-serif;

  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", Georgia, serif;
}

::selection {
  background: var(--gold);
  color: var(--navy);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #04101a;
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gold-light);
}